/node_modules
/Users/loxstar/the-internet/cypress/e2e/2-advanced-examples
/Users/loxstar/the-internet/cypress/e2e/2-advanced-examples
/Users/loxstar/the-internet/cypress/e2e/practiceTests/tests/assessmentNotes.txt
.env